.card {
  width: 47vh;
  min-height: 40vh;
  column-gap: 2vh;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  column-gap: 2vh;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */
  color: rgb(1, 1, 14);
  line-height: 30px;
  text-align: left;
  position: relative;
}

.employeeList {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.anniversary-message {
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(19, 82, 1, 0.5);
  background-color: #da8002;
  color: whitesmoke;
  padding-top: 5px;
}

.div-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(5, 119, 5);
  color: whitesmoke;
  text-align: center;
}
.name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 5px 10px 5px;
}
.title {
  font-size: 0.8rem;
  font-weight: 600;
}

.div-title {
  padding-top: 40px;
  font-size: 1rem;
}

.div-title p {
  box-shadow: inset 2px 2px 3px 1px rgb(245, 233, 229);
  padding: 2px 2px 2px 10px;
}

.search {
  padding: 10px;
}

label {
  margin-right: 20px;
  font-size: 1.2rem;
}

input {
  border-radius: 10px;
  width: 35vh;
  height: 5vh;
  padding-left: 5px;
}
